@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* Josh Comeau's CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS Variables */

:root {
  /* ### Primary */

  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* ### Neutral */

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);

  /* Font Weights */

  --fw-regular: 400;
  --fw-semi-bold: 600;

  /* Font Family */

  --ff-regular: "Bai Jamjuree", sans-serif;
}

/* Mobile First */

/* General settings */

body {
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular);
  color: var(--Grayish-Blue);
  font-size: 1rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.3125rem;
}

header,
.card,
footer {
  padding: 2.25rem;
}

.headings_text {
  display: grid;
  gap: 1rem;
}

/* */

header {
  background: url(../images/bg-header-desktop.png) no-repeat top center;
  background-size: cover;
}

.top > img {
  margin: 5rem 0 3rem 0;
}

.top p,
.available p {
  margin-bottom: 1.5rem;
}

.download {
  width: 100%;
  border: none;
  border-radius: 2rem;
  height: 3.5rem;
  font-weight: var(--fw-semi-bold);
  color: white;
  font-size: 1.125rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
}

.download:hover {
  cursor: pointer;
  opacity: 70%;
}

.ios {
  background-color: var(--Strong-Cyan);
}

.mac {
  background-color: var(--Light-Blue);
}

.top,
.available {
  display: grid;
  gap: 1.5rem;
  place-items: center;
}

.keep {
  display: grid;
  gap: 2.25rem;
  margin-top: 4rem;
}

.keep img {
  margin-top: 2rem;
}

.access {
  display: grid;
  gap: 4rem;
  margin-top: 10rem;
}

.supercharge {
  display: grid;
  gap: 4rem;
  margin: 6rem 0;
}

.supercharge img {
  margin: auto;
  margin-bottom: 2rem;
}

.logos {
  display: grid;
  place-items: center;
  gap: 4rem;
}

.logos img {
  width: 8rem;
}

.available {
  margin: 10rem 0 8rem 0;
}

footer {
  background-color: #f5f6f8;
  display: grid;
  place-items: center;
  gap: 2rem;
}

footer > img {
  width: 3.5rem;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 3rem;
  color: var(--Dark-Grayish-Blue);
  font-size: 1.125rem;
}

li:hover {
  cursor: pointer;
  color: var(--Strong-Cyan);
}

.flex_group {
  display: flex;
  gap: 2.25rem;
}

ion-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--Dark-Grayish-Blue);
}

ion-icon:hover {
  cursor: pointer;
  color: var(--Strong-Cyan);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin: 2rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
